<div class="subPage">
    <div ng-model="content">
        <p>{{content}}</p>
    </div>
    
    <ul>
        <a href="https://www.w3schools.com/howto/howto_js_topnav_responsive.asp">How to quickly create a NavBar</a>
        <br/>
        <br/>
        <a href="https://stackoverflow.com/questions/41211875/angularjs-1-6-0-latest-now-routes-not-working">Why is Routing broken in Angular v1.6 Latest Release</a>
        <br/>
        <br/>        
        <a href="https://stackoverflow.com/questions/21919533/using-html-entities-within-angular-strings">Using HTML Entities within Angular strings</a>
        <br/>
        <br/>         
        <a href="https://stackoverflow.com/questions/23608346/how-to-style-a-div-like-the-button-element">How to style an element as if it was a button</a>        
        
    </ul>
<div class="subPage">
